.subtitle {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.55);
    &__main {
        margin-top: 30px;
    }
    &__blocks {
        margin-top: 25px;
        text-align: center;
    }
    &__mini {
        margin-top: 30px;
    }
}